body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#onlineUser{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}


footer{
	background-color: black;
	color: white;
	text-align: center;
	margin-top: 200px;
	padding: 20px 40px;	

}

#myfooter{
	margin-bottom: 20px;
	text-align: center;;
	padding: 40px 80px;
}